# 提升所有依赖以解决 NativeScript 的兼容性问题
shamefully-hoist=true

# 启用严格的对等依赖
strict-peer-dependencies=false

# 公共提升模式
public-hoist-pattern[]=*readable-stream*
public-hoist-pattern[]=*ajv*
public-hoist-pattern[]=*vue-loader*
public-hoist-pattern[]=*lazystream*
public-hoist-pattern[]=*archiver*

